.searchForm {
    text-align: center;
    margin: 24px;

    input {
        width: 380px;
        padding: 8px 15px;
        margin-right: 4px;
        border: 1px solid #b6b6b6;
        border-radius: 7px;
        font-size: 15px;
        font-family: Manrope, monospace, sans-serif;

        &:focus {
            outline: none;
            border: 1px solid #7a7979;
        }
    }

    button {
        padding: 9px;
        background-color: white;
        border: 1px solid #b6b6b6;
        border-radius: 5px;
        font-family: Manrope, monospace, sans-serif;
        transition: background-color .3s ease-in-out;

        &:hover {
            cursor: pointer;
            background-color: #A52838;
            color: white;
        }
    }
}
